pkgbase = zfs-utils-git
	pkgdesc = Kernel module support files for the Zettabyte File System.
	pkgver = 2022.08.04.r7977.g947465b984
	pkgrel = 2
	url = http://zfsonlinux.org/
	install = zfs-utils.install
	arch = x86_64
	groups = archzfs-linux-git
	license = CDDL
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-cffi
	makedepends = git
	optdepends = python: pyzfs and extra utilities,
	optdepends = python-cffi: pyzfs
	provides = zfs-utils
	provides = spl-utils
	conflicts = zfs-utils
	conflicts = spl-utils
	replaces = spl-utils-common-git
	replaces = zfs-utils-common-git
	backup = etc/zfs/zed.d/zed.rc
	backup = etc/default/zfs
	backup = etc/modules-load.d/zfs.conf
	backup = etc/sudoers.d/zfs
	source = git+https://github.com/zfsonlinux/zfs.git#commit=947465b9843b588a57703f000783fafd9d9ad68c
	source = zfs-utils.initcpio.install
	source = zfs-utils.initcpio.hook
	source = zfs-utils.initcpio.zfsencryptssh.install
	sha256sums = SKIP
	sha256sums = d19476c6a599ebe3415680b908412c8f19315246637b3a61e811e2e0961aea78
	sha256sums = 5c53cd7805853e7eb8fa53143fb4a284e7e33171f7f4b4de444171ca4dfda37e
	sha256sums = 93e6ac4e16f6b38b2fa397a63327bcf7001111e3a58eb5fb97c888098c932a51

pkgname = zfs-utils-git
